<aside
  class="sidebar"
  [class.sidebar--expanded]="sidebarService.isExpanded()"
>
  <header class="sidebar__header">
    <div class="sidebar__branding">
      <img src="cropped-iceDQ-Favicon-PNG.png" alt="logo" class="sidebar__branding-logo" />
      @if (sidebarService.isExpanded()) {
        <p class="sidebar__branding-text">iceDQ</p>
      }
    </div>

    <button class="sidebar__toggle" type="button" (click)="sidebarService.toggle()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="sidebar__expand-icon"
      >
        <path d="m9 18 6-6-6-6" />
      </svg>
    </button>
  </header>

  <div class="sidebar__content">
    <nav class="sidebar__navigation">
      @for (item of navigationItems; track item.id) {
        <app-navigation-item [item]="item" [expanded]="sidebarService.isExpanded()">
        </app-navigation-item>
      }
    </nav>
  </div>
</aside>
