<aside class="sidebar" [class.sidebar--expanded]="sidebarService.isExpanded()">
  <header class="sidebar__header">
    <div class="sidebar__branding">
      <img src="cropped-iceDQ-Favicon-PNG.png" alt="logo" class="sidebar__branding-logo" />
      @if (sidebarService.isExpanded()) {
        <p class="sidebar__branding-text">iceDQ</p>
      }
    </div>

    <button class="sidebar__toggle" type="button" (click)="sidebarService.toggle()">
      <mat-icon>{{sidebarService.isExpanded() ?'chevron_left':'chevron_right'}}</mat-icon>
    </button>
  </header>

  <div class="sidebar__content">
    <nav class="sidebar__navigation">
      @for (item of navigationItems; track item.id) {
        <app-navigation-item [item]="item" [expanded]="sidebarService.isExpanded()">
        </app-navigation-item>
      }
    </nav>
  </div>
</aside>
