<section>
  <header class="header">
    <div class="header__navigation">
      <button
        class="header__menu-button"
        (click)="sidebarOpen()"
        [class.header__menu-button--active]="sidebarService.isSidebarOpen()"
        type="button"
      >
        <span class="header__menu-line"></span>
        <span class="header__menu-line"></span>
        <span class="header__menu-line"></span>
      </button>
      <img src="logo.jpg" alt="" class="header__logo" />
      <h1 class="header__title">Home</h1>
    </div>

    <div class="header__search">
      <input type="text" class="header__search-input" placeholder="search..." />

      <button class="header__search-button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="header__search-icon"
        >
          <path d="m21 21-4.34-4.34" />
          <circle cx="11" cy="11" r="8" />
        </svg>
      </button>
    </div>

    <div class="header__actions">
      <button (click)="changeTheme()" class="header__theme-button">
        @if (!isDarkTheme()) {
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="header__theme-icon"
          >
            <path
              d="M20.985 12.486a9 9 0 1 1-9.473-9.472c.405-.022.617.46.402.803a6 6 0 0 0 8.268 8.268c.344-.215.825-.004.803.401"
            />
          </svg>
        } @else {
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="header__theme-icon"
          >
            <circle cx="12" cy="12" r="4" />
            <path d="M12 2v2" />
            <path d="M12 20v2" />
            <path d="m4.93 4.93 1.41 1.41" />
            <path d="m17.66 17.66 1.41 1.41" />
            <path d="M2 12h2" />
            <path d="M20 12h2" />
            <path d="m6.34 17.66-1.41 1.41" />
            <path d="m19.07 4.93-1.41 1.41" />
          </svg>
        }
      </button>
      <a routerLink="/sign-up" class="header__signUp-button">SignUp</a>
      <a routerLink="/sign-in" class="header__login-button">Login</a>
    </div>
  </header>
</section>
