<section class="employees__content">
  <table class="employees__table">
    <thead class="employees__table-head">
      <tr class="employees__table-row">
        <th>Employee ID</th>
        <th>Name</th>
        <th>Designation</th>
        <th>Manager</th>
        <th>Department</th>
        <th>Status</th>
        <th>Joining Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody class="employees__table-body">
      @for (employee of employees(); track employee.id) {
        <tr class="employees__table-row">
          <td>{{ employee.employeeId }}</td>
          <td>{{ employee.fullName }}</td>
          <td>{{ employee.designation }}</td>
          <td>{{ employee.manager }}</td>
          <td>{{ employee.department }}</td>
          <td>{{ employee.status }}</td>
          <td>{{ employee.joiningDate }}</td>
          <td class="employees__table-actions">
            <button type="button" class="employees__action-button employees__action-button--edit">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</section>
