<section class="departments__content">
  <table class="departments__table">
    <thead class="departments__table-head">
      <tr class="departments__table-row">
        <th>Code</th>
        <th>Name</th>
        <th>Description</th>
        <th>Employees</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody class="departments__table-body">
      @for (department of departments(); track department.id) {
        <tr class="departments__table-row">
          <td>{{ department.code }}</td>
          <td>{{ department.name }}</td>
          <td>{{ department.description }}</td>
          <td></td>
          <td>{{ department.status }}</td>
          <td class="departments__table-actions">
            <button
              type="button"
              class="departments__action-button departments__action-button--edit"
              (click)="onEditClick(department)"
            >
              <mat-icon>edit</mat-icon>
            </button>

            <button
              type="button"
              class="departments__action-button departments__action-button--delete"
              (click)="onDeleteClick(department)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</section>
