<section class="departments__content">
  <table class="departments__table">
    <thead class="departments__table-head">
      <tr class="departments__table-row">
        <th>Code</th>
        <th>Name</th>
        <th>Description</th>
        <th>Employees</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody class="departments__table-body">
      <tr class="departments__table-row">
        <td>IT</td>
        <td>Information Tech</td>
        <td>Software</td>
        <td>0</td>
        <td>Active</td>
      </tr>
    </tbody>
  </table>
</section>
