<section class="forgotPassword">
  <div class="forgotPassword__card">
    <header class="forgotPassword__header">
      <h2 class="forgotPassword__title">Forgot Password</h2>
      <p class="forgotPassword__subtitle">Enter your registered email address to continue.</p>
    </header>

    <form class="forgotPassword__form" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div class="forgotPassword__form-content">
        <label for="emailID" class="forgotPassword__label">Enter Your email</label>
        <input
          type="emailID"
          name="emailID"
          id="emailID"
          class="forgotPassword__input"
          placeholder="Enter your emailID"
          formControlName="emailID"
        />
        @if (emailID?.hasError('required') && emailID?.touched) {
          <p class="forgotPassword__errors">emailID is required.</p>
        }

        @if (emailID?.hasError('emailID') && emailID?.touched) {
          <p class="forgotPassword__errors">Please enter a valid email address.</p>
        }
      </div>

      <div class="forgotPassword__actions">
        <button type="button" class="forgotPassword__button-secondary" (click)="onCancel()">
          Cancel
        </button>
        <button
          type="submit"
          class="forgotPassword__button-primary"
          [disabled]="forgotPasswordForm.invalid"
        >
          Continue
        </button>
      </div>
    </form>
  </div>
</section>
